<h2>Add a User</h2>
<div class="row">
    <div class="col-md-6 well" >
        <form [formGroup]='userAddForm' (ngSubmit)='addUpdateUser()'>
            <fieldset>
                <legend>User</legend>
                <label for="userName">Name</label>
                <input 
                    id="userName"
                    type="text"
                    class="form-control"
                    formControlName="userName">
                   <div *ngIf="userAddForm.controls.userName.touched && userAddForm.controls.userName.errors">
                        <div *ngIf="userAddForm.controls.userName.errors.required" class="alert alert-danger">
                                A name is required.
                        </div>
                        <div *ngIf="userAddForm.controls.userName.errors.minlength" class="alert alert-danger">
                                The name must be a minimum of {{minLength}} characters in length.
                        </div>
                    </div>
                <label for="email">Email</label>
                <input 
                    id="email"
                    type="text"
                    class="form-control"
                    formControlName="email">
                    <div *ngIf="userAddForm.controls.email.touched && userAddForm.controls.email.errors">
                        <div *ngIf="userAddForm.controls.email.errors.emailInvalid" class="alert alert-danger">
                                The email address entered is invalid.
                        </div>
                    </div>
               <label for="phone">Phone</label>
                <input 
                    id="phone"
                    type="text"
                    class="form-control"
                    formControlName="phone">
            </fieldset>
            <fieldset>
                <legend>Address</legend>
                <label for="street">Street</label>
                <input 
                    id="street"
                    type="text"
                    class="form-control"
                    formControlName="street">
                <label for="suite">Suite</label>
                <input 
                    id="suite"
                    type="text"
                    class="form-control"
                    formControlName="suite">
                <label for="suite">City</label>
                <input 
                    id="City"
                    type="text"
                    class="form-control"
                    formControlName="city">
            <label for="zipcode">Zip Code</label>
                <input 
                    id="zipcode"
                    type="text"
                    class="form-control"
                    formControlName="zipcode">
            </fieldset>
            <br/>
            <button class='btn btn-primary' type='submit'>Add User</button>
        </form>
    </div>
</div>